{{#Root}}
  {{#Wrapper}}
    {{{ PageTitle title='Настройки профиля'}}}
    {{#Form mod='profile' onsubmit=onsubmit}}
      {{{ AvatarEditor}}}
      {{#with profile}}
        {{{ FormField label='Имя' type='text' name='first_name' value=firstName autocomplete='given-name' ref='first_name'}}}
        {{{ FormField label='Фамилия' type='text' name='second_name' value=lastName autocomplete='family-name' ref='second_name'}}}
        {{{ FormField label='Отображаемое имя' type='text' name='display_name' value=displayName ref='display_name'}}}
        {{{ FormField label='Логин' type='text' name='login' value=login ref='login'}}}
        {{{ FormField label='E-mail' type='email' name='email' value=email autocomplete='email' ref='email'}}}
        {{{ FormField label='Телефон' type='tel' name='phone' value=phone autocomplete='tel' ref='phone'}}}
      {{/with}}
      {{{ FormField type='submit' value='Сохранить'}}}
    {{/Form}}
    <nav>
      {{{ Link href='/chats' text='Вернуться к чатам' mod='profile'}}}
      {{{ Link href='/change-password' text='Сменить пароль' mod='profile'}}}
    </nav>
    {{{ Button text='Выйти' mod='signout'}}}
  {{/Wrapper}}
{{/Root}}
