<div class="avatar-editor">
  {{{ Avatar mod='profile'}}}
  {{{ Button text='Сменить аватар' mod='link-shaped'}}}
  <div class="avatar-editor__overlay">
    <div class="avatar-editor__input-container">
      {{{ ModalTitle title='Сменить аватар'}}}
      {{{ FormField narrow=true label='Выберите файл на компьютере' type='file' name='avatar' accept='.jpg'}}}
      {{{ FormField type='submit' value='Загрузить'}}}
    </div>
  </div>
</div>
