<div class="avatar-editor">
  {{{ Avatar mod='profile' imageSrc=getAvatarSrc}}}
  {{{ Button text='Сменить аватар' mod='link-shaped' onClick=openDialog}}}
  {{#Dialog ref='dialog'}}
    <div class="avatar-editor__input-container">
      {{{ ModalTitle title='Сменить аватар'}}}
      {{#Form onsubmit=onsubmit ref='form'}}
        {{{ FormField file=true label='Выберите файл на компьютере' type='file' name='avatar' accept='.jpeg,.jpg,.png,.gif,.webp'}}}
        {{{ ApiAlertLine ref='alert' text=text }}}
        {{{ FormField type='submit' value='Загрузить'}}}
      {{/Form}}
    </div>
  {{/Dialog}}
</div>
