<div class="current-chat">
{{#with currentChat}}
  <div class="current-chat__header">
    <div class="current-chat__info">
      {{{ Avatar mod='current-chat'}}}
      {{{ ChatName mod='current-chat' name=name}}}
    </div>
    {{{ Button mod='remove'}}}
  </div>
  <div class="current-chat__body">
    {{#each messages}}
      {{{ ChatMessage mod=type text=text time=time}}}
    {{/each}}
  </div>
{{/with}}
  {{#Form mod='chat-message' onsubmit=onsubmit}}
    {{{ Button mod='attach'}}}
    {{{ Textarea name='message' placeholder='Введите сообщение' ref='message'}}}
    {{{ SendMessage}}}
  {{/Form}}
</div>
