{{#Root}}
  {{#Wrapper}}
    {{{ PageTitle title='Смена пароля' mod='changepassword'}}}
    {{#Form mod='profile' onsubmit=onsubmit}}
      {{{ FormField label='Старый пароль' type='password' name='oldPassword' ref='oldPassword'}}}
      {{{ FormField label='Новый пароль' type='password' name='newPassword' ref='newPassword'}}}
      {{{ FormField label='Новый пароль ещё раз' type='password' name='newPassword' ref='newPasswordAgain'}}}
      {{{ FormField type='submit' value='Сохранить'}}}
    {{/Form}}
    <nav>
      {{{ Link href='/chats' text='Вернуться к чатам' mod='profile'}}}
    </nav>
  {{/Wrapper}}
{{/Root}}
