{{#Root}}
  {{#Wrapper}}
    {{{ PageTitle title='Смена пароля' mod='changepassword'}}}
    {{#Form mod='profile' onsubmit=onsubmit}}
      {{{ FormField label='Старый пароль' type='password' name='oldPassword' ref='oldPassword'required='true'  validate=validate.password}}}
      {{{ FormField label='Новый пароль' type='password' name='newPassword' ref='newPassword' required='true' validate=validate.password}}}
      {{{ FormField label='Новый пароль ещё раз' type='password' name='newPassword' ref='newPasswordAgain' required='true' validate=validate.password}}}
      {{{ FormField type='submit' value='Сохранить'}}}
    {{/Form}}
    <nav>
      {{{ Link href='/messenger' text='Вернуться к чатам' class='link' mod='profile'}}}
    </nav>
  {{/Wrapper}}
{{/Root}}
