<div class="chats-feed">
  <div class="chats-feed__header">
    <div class="chats-feed__header-top">
      {{{ Button mod='add' onClick=openCreateChatDialog}}}
      <nav>
        {{{ Link href='/settings' text='Настройки профиля' class='link' mod='feed'}}}
      </nav>
    </div>
  </div>
  <ul class="chats-feed__list">
    {{#each feed}}
      {{{ ChatsFeedListItem id=id avatar=avatar title=title time=time last_message=last_message unread_count=unread_count}}}
    {{/each}}
  </ul>
  {{#Dialog ref='createChatDialog'}}
    {{#Form onsubmit=createChat}}
      {{{ FormField narrow=true label='Название чата' type='text' name='title' required='true' ref='title' validate=validate.chatName}}}
      {{{ ApiAlertLine ref='alert' text=text }}}
      {{{ FormField type='submit' value='Создать чат'}}}
    {{/Form}}
  {{/Dialog}}
</div>
